div {
  .bounty {
    &:nth-child(2) {
      border-radius: 10px 10px 0 0;

      img {
        border-radius: 10px 0 0 0;
      }
    }
  }
}

.bounty {
  display: grid;
  grid-template-columns: [image] 2fr [stats] 3fr;
  width: 320px;
  background-color: #212529;
  color: #fff;
  margin: 0 auto;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.5);

  .image {
    grid-column: image;
    width: 128px;
    height: 192px;
  }

  .stats {
    grid-column: stats;
    display: grid;
    grid-template-rows: [title] 1fr [life] 1fr [money] 1fr [user] 1fr [programmer] 2fr [icons] 2fr;
    height: 184px;
  }

  .bar {
    margin-left: 8px;
  }

  .title {
    grid-row: title;
    display: grid;
    grid-template-columns: [header] 2fr [id] 1fr;
  }

  .title * {
    margin: 4px 0 0 0;
  }

  .title h2 {
    grid-column: header;
    font-size: 0.8rem;
  }

  .title h3 {
    grid-column: id;
    font-size: 1.2rem;
    height: 1.2rem;
    text-align: center;
  }

  .gutter {
    grid-row: gutter;
  }

  .life {
    grid-row: life;
    margin-left: 8px;
  }

  .money {
    grid-row: money;
    margin-left: 4px;
  }

  .programmer {
    grid-row: programmer;
    vertical-align: middle;
    margin-left: 0px;
  }

  .user {
    grid-row: user;
    text-align: center;
  }

  .user img {
    margin: 0 2px;
  }

  .icon {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    margin-right: 4px;
  }
}
