@import 'diez-thisbounty-styles/static/styles.scss';
@import '../../sass/breakpoints.mixin.scss';

.titlebar {
  background: $thisbounty-com-style-guide-colors-primary;
  text-align: left;
  grid-row: titlebar;
  font-size: 1rem;
  line-height: 60px;
  margin: 0;

  @include portrait {
    display: none;
  }

  @include landscape {
    display: none;
  }
}

.titlebar a {
  color: #fff;
  text-decoration: none;
  margin-left: 0.5rem;

  &:hover {
    text-decoration: underline;
  }
}
