@import 'diez-thisbounty-styles/static/styles.scss';

.titlebar {
  background: $thisbounty-com-style-guide-colors-primary;
  text-align: left;
  grid-row: titlebar;
  font-size: 1rem;
  line-height: 60px;
  margin: 0;
}

.titlebar a {
  color: #fff;
  text-decoration: none;
}
