@import 'diez-thisbounty-styles/static/styles.scss';

.lifebar {
  color: $thisbounty-com-style-guide-colors-red;

  .full {
    stroke: #fff;
    stroke-width: 50px;
    margin-right: 2px;
  }

  .empty {
    color: none;
  }
}
