@import './sass/breakpoints.mixin.scss';

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

.app {
  display: grid;
  position: fixed;
  width: 100%;
  font-family: 'Roboto', 'sans';

  @include desktop {
    grid-template-rows: [titlebar] 60px [content] 1fr;
  }

  @include landscape {
    grid-template-rows: inherit;
    grid-template-columns: repeat(auto-fit, minmax(330px, 0fr));
    justify-content: center;
  }

  @include portrait {
    grid-template-columns: inherit;
    justify-content: inherit;
  }

  #content {
    display: grid;
    grid-template-columns: [navbar] 60px [bounties] auto [leadbar] 60px;
  }

  #navbar {
    grid-column: navbar;
  }

  #bounties {
    grid-column: bounties;
  }
}
